<h2>New Sale</h2>
<input type="date" placeholder="date" name="new-sale-date">

<input type="text" placeholder="Your Sale" name="new-daily-sale">

{{!-- <input type="text" placeholder="temperature" name="new-temperature"> --}}

{{!-- <input type="text" placeholder="weather type" name="new-weather-type"> --}}

<textarea name="new-notes" placeholder="Notes on the day" id="" cols="20" rows="5"></textarea>

<select multiple class="select-employee">
{{#each employees}}
  <option value="{{name}}">{{name}}</option>
{{/each}}
</select>

<button class="new-sale">Save</button>


