<input type="date" placeholder="date" name="new-sale-date">

<input type="text" placeholder="sale" name="new-daily-sale">

<input type="text" placeholder="temperature" name="new-temperature">

<input type="text" placeholder="weather type" name="new-weather-type">

<textarea name="new-notes" id="" cols="30" rows="10"></textarea>

<button class="new-sale">Save</button>


