<h2>New Business</h2>
<input type="text" placeholder="Name" name="new-business-name">
<input type="text" placeholder="Address" name="new-business-address">
<input type="text" placeholder="City" name="new-business-city">
<input type="text" placeholder="Zip Code" name="new-business-zip">
<input type="text" placeholder="Logo" name="new-business-logo">

<button class="new-business">Save</button>
